:root {
    --mrbr-cvm-collapsed-block-background: #eeefff;
}

:root.mrbr-cvm-theme-dark {
    --mrbr-cvm-collapsed-block-background: #252638;
}

.mrbr-cvm-collapsed-block-target {
    background-color: var(--mrbr-cvm-collapsed-block-background);
}

div[data-mrbr-cvm-collapsing-wrapper] {
    display: block;
}

div[data-mrbr-cvm-collapsing-wrapper].is-shrunk > :not(.mrbr-cvm-information-bar) {
    display: none !important;
}

div[data-mrbr-cvm-collapsing-wrapper].is-shrunk > .mrbr-cvm-information-bar {
    display: flex;
}
