:root {
    --mrbr-cvm-collapsed-block-background: #eeefff;
}

:root.mrbr-cvm-theme-dark {
    --mrbr-cvm-collapsed-block-background: #252638;
}

.mrbr-cvm-collapsed-block-target {
    background-color: var(--mrbr-cvm-collapsed-block-background);
}

div[data-mrbr-cvm-collapsing-wrapper] {
    display: grid;
    grid-template-rows: 1fr;
    transition: grid-template-rows 160ms ease-out;
}

div[data-mrbr-cvm-collapsing-wrapper] > [data-mrbr-cvm-collapsing-content] {
    min-height: 0;
    overflow: hidden;
}

div[data-mrbr-cvm-collapsing-wrapper].is-shrunk {
    grid-template-rows: 0fr;
}

div[data-mrbr-cvm-collapsing-wrapper].is-shrunk > .mrbr-cvm-information-bar {
    grid-row: 2;
}
